body {
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(
    to right,
    #26a69a,
    #03a9f4
  ); /* teal lighten-1 ..  light-blue */
}

.container {
  max-width: 350px;
  margin: 100px auto;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

h1 {
  margin: 0;
  padding: 7px 10px;
  background: #0277bd; /* light-blue darken-3 */
  color: #fff;
  font-weight: normal;
  font-size: 1.2em;
  box-sizing: border-box;
}

.input-toggle {
  float: right;
  margin-right: 10px;
  cursor: pointer;
}

input {
  width: 100%;
  border: none;
  padding: 10px;
  box-sizing: border-box;
  color: #bdbdbd; /* grey lighten-1 */
  background: #eeeeee; /* grey lighten-3 */
}

ul {
  padding: 0;
  margin: 0;
}

ul li:nth-child(even) {
  background: #eeeeee; /* grey lighten-3 */
}
ul li:nth-child(odd) {
  background: #fff;
}

li {
  list-style: none;
  cursor: auto;
  display: flex;
  align-items: center;
}

.trash-icon {
  background: red;
  color: white;
  width: 0;
  text-align: center;
  transition: 0.8s ease;
  padding: 5px 0;
  cursor: pointer;
}

.fa-trash-alt {
  opacity: 0;
  transition: opacity 0.8s;
}

.todo {
  padding: 5px 10px;
  color: #424242; /* grey darken-3 */
  font-size: 0.8em;
  flex-grow: 1;
}

.done {
  text-decoration: line-through;
  color: #9e9e9e; /* grey */
}
